.App {
  text-align: center;
}
body {
  min-width: 800px;
  background-image: url("./imgs/bg.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100%;
}
